* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0;
  padding: .5em;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding-inline-start: 0;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 0 .5rem;
}

nav a {
  text-decoration: none;
  color: #444;
}

nav ul a:hover {
  color: #fff
}

.active {
  color:#fff;
}

nav li {
  padding-right: 1em;
}

.nav-logo {
  margin-left: 1em;
  align-self: center;
  font-weight: 700;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 6%;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* Landing page images */

@media screen and (max-width: 599px) {
  img {
    max-width: 250px;
  }  
}


/* Create Account */
.create-account {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-account input {
  width: 150px;
  padding-top: .5em;
  margin-top: .25em;
}

.create-account label {
  margin-top: .5em;
}

.create-account__buttons {
  display: flex;
}

.create-account__buttons button {
  margin-top: 2em;
  margin-right: 1em;
}

/* login */
.login {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.login input {
  width: 150px;
  padding-top: .5em;
  margin-top: .25em;
}

.login label {
  margin-top: .5em;
}

.login__buttons {
  display: flex;
}

.login__buttons button {
  margin-top: 2em;
  margin-right: 1em;
}

/* Summary */

.summary-entries header {
  padding: 1em;
}

.summary-entries section {
  padding: 0;
  min-height: auto;
}

.summary-stats ul {
  padding-inline-start: 0;
  list-style-type: none;
}

/* Leaderboard */

.leaderboard-entry {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

/* Record run form */

.record-run_form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.record-run input {
  width: 150px;
  padding-top: .5em;
  margin-top: .25em;
}

.record-run label {
  margin-top: .5em;
}

.record-run__buttons {
  display: flex;
}

.record-run__buttons button {
  margin-top: 2em;
  margin-right: 1em;
}
